@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
  overscroll-behavior-y: contain;
  font-family: 'Poppins', sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
  
}


.left-corner-container {
  position: absolute;
  top: 2;
  left: 0;
  margin-left: 4px;
}





.embed-container {
  width: 100%;
  max-width: 100%;
  position: relative;

}

.embed-container.active {
  display: block;
}

.embed-container.hidden {
  display: none;
}

.embed-iframe {
  
  width: 100%;
  height: 100vh;
}

/* Assuming you have a CSS file or style block where you define your styles */
.full-width-container {
  width: 100%;
  /* Optionally, you can add other positioning properties if needed */
}

/* Add any other CSS styles for the rest of your component elements if required */



.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.modal-title {
  margin-top: 0;
  font-size: 24px;
}

.modal-input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
}

.modal-button {
  margin-left: 10px;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.modal-button-save {
  background-color: #007bff;
  color: #fff;
}

.modal-button-cancel {
  background-color: #ccc;
  color: #333;
}



/* Modal Styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.modal-container {
  width: 95%;
  margin: 0 auto;
  background-color: #050505;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 20;
  overflow-y: auto;
}

.modal-content {
  padding: 20px;
}

.input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 12px;
}

.button {
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.button-secondary {
  background-color: #ced4da;
  color: #333;
  margin-left: 8px;
}

/* Centering the modal buttons */
.modal-buttons {
  display: flex;
  justify-content: flex-end;
}

.flex.flex-col.items-center {
  width: 100%; /* Set the width to 100% to make it occupy the full width of the screen */
  /* Add any other necessary styles for this container */
}






/* Add this CSS to your stylesheets */
.input-style {
  background-color: #191e24;
  color: #ffffff;
  font-size: 8px;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  outline: none;
  width: 300px;
  /* Take up full width on small screens */
  transition: background-color 0.2s, color 0.2s;
}

.input-style::placeholder {
  color: #a0aec0;
}

.input-style:focus {
  background-color: #2d3748;
}

/* Increase width on medium and larger screens */
@media (min-width: 768px) {
  .input-style {
    width: 700px;
  }
}

/* Add this CSS to your stylesheet */
#install-banner {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
